#markdown code:not(pre)::before,
#markdown code:not(pre)::after {
  content: '';
}

html.dark #markdown code:not(pre code) {
  border: 1px solid rgba(189, 147, 249, 0.25);
  background: rgba(79, 84, 129, 0.22);
  padding: 2px 8px;
  border-radius: 0.65rem;
}

html #markdown code:not(pre code) {
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: rgba(255, 255, 255, 0.08);
  padding: 2px 8px;
  border-radius: 0.65rem;
}
